.GamesList {
  padding: 16px;
}

.GamesList__empty-indicator {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ddd;
}

.GamesList__wrapper {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 8px;
  }
}
