.GamesList {
  padding: 16px;
}

.GamesList__button {
  margin-left: 4px;
}

.GamesList__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 8px;
  }
}
