@import 'mixins.scss';
@import 'colors.scss';

.Player {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: $tile-back-color;
  @include with-shadow();
  min-width: 200px;
  max-width: 200px;
  flex-grow: 1;
  box-sizing: border-box;
  @include with-transition();
  border-radius: 2px;

  &:hover {
    background-color: $tile-back-hover-color;
  }
}

.Player__texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.Player__username {
  margin-bottom: 4px;
  @include with-ellipsis();
  max-width: 128px;
  font-weight: 700;
}

.Player__steamid {
  font-size: 10px;
  color: $tile-secondary-text-color;
}

.Player__delete-btn {
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
  box-shadow: none;
  background-color: $orange-color;
  @include with-border();
  line-height: 32px;
  padding: 0;
  vertical-align: middle;
}
