@import 'mixins';

.Player {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #c2c2c2;
  @include with-shadow();
  min-width: 200px;
  max-width: 200px;
  flex-grow: 1;
  box-sizing: border-box;
  transition: all 250ms;

  &:hover {
    background-color: #d8d8d8;
  }
}

.Player__texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.Player__username {
  margin-bottom: 4px;
  @include with-ellipsis();
  max-width: 128px;
}

.Player__steamid {
  font-size: 10px;
  color: #888;
}

.Player__delete-btn {
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
  box-shadow: none;
  @include with-border();
  line-height: 32px;
  padding: 0;
  vertical-align: middle;
}
