$tile-back-color: #8d8d8d;
$tile-back-hover-color: #9a9a9a;
$tile-secondary-text-color: #4d4d4d;
$orange-color: #eeab00;
$extra-btn-color: #8d8d8d;

// following color names taken from http://chir.ag/projects/name-that-color
$color-alto: #ddd;
$color-tundora: #444;
$color-boulder: #777;
$color-silver-chalice: #aaa;
$color-selective-yellow: #fab700;
$color-mine-shaft: #222;
$color-vivid-tangerine: #ff8780;
$box-shadow-color: rgba(0, 0, 0, 0.42);
