@import 'colors.scss';

@mixin with-shadow() {
  box-shadow: 0 0 5px 1px $box-shadow-color;
}

@mixin with-border() {
  border: 1px solid $color-boulder;
}

@mixin with-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin with-transition() {
  transition: all 250ms;
}
